/* This is the stylesheet*/
h1 {
    color: seagreen; 
    font-weight: bold;
}
body {
    background-color: whitesmoke;
}
.form {
    display: block;
    text-align: center; 
    justify-content: center;
    margin: auto;
}

label {
    width: 78px; 
    display: inline-block;
    padding: 3px; 
}

#submit {
    margin: 10px 50px;
    justify-content: center;
}

#message {
    text-align: center;
    /* justify-content: center; */
    color: seagreen; 
    font-weight: bold;
}

